body {
    background: #10465a;
    font-family: 'Arial', sans-serif;
    color: #fff;
    position: relative;
}

.background-icon {
    position: fixed;
    top: 76%;
    left: 23%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 60%;
}

.icon {
    width:400px;
    height: 400px;

}
.background-icon2 {
    position: fixed;
    top: 39%;
    right: -15%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 60%;
}

.icon2 {
    width: 576px;
    height: 627px;

}

.form-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 8px;
    background: rgba(13, 31, 53, 0.8);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.profile-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: #ece4ed;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 1000;
}
.profile-icon:hover {
    color: #d6dcdf;
}

.container {
    margin-top: 60px;
}

.card {
    background: rgba(220, 217, 217, 0.8);
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 98%;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card img {
    border-bottom: 2px solid #ffffff;
}

.card-title {
    color: #3b295e;
}

.order_btn{
    background-color: #6c8388;
    border-color: #6c8388;
}
.order_btn:hover {
    background-color: #4d5d61;
    border-color: #4d5d61;
}

.btn-secondary {
    background-color: #01040c;
    border-color: #01040c;
    transition: background-color 0.3s ease;
}
.btn-secondary:hover {
    background-color: #333;
    border-color: #333;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search input {
    width: 300px;
    background-color: #ece4ed;
    color: #3b295e;
    border: 1px solid #b1afaf;
    padding: 10px;
    border-radius: 5px;
}

.search button {
    margin-left: 10px;
    background-color: #6c8388;
    border-color: #6c8388;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.search button:hover {
    background-color: #4d5d61;
    border-color: #4d5d61;
}

.btn-warning {
    background-color: #f0a500;
    border-color: #f0a500;
    color: #01040c;
    transition: background-color 0.3s ease;
}
.btn-warning:hover {
    background-color: #c27c00;
    border-color: #c27c00;
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.form-container .form-label {
    font-weight: 600;
}
.form-container .form-control {
    border-radius: 0.375rem;
}
.form-container .btn {
    border-radius: 0.375rem;
    font-weight: 600;
}
